* {
    text-align: center;
    margin: auto;
    background-color: ghostwhite;
}

img {
    width: 60%;
    height: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

table, tr, td {
    background-color: lightgray;
    width: 500px;
    height: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div, a, h1, h4 {
    background-color: lightgray;
    margin-bottom: 15px;
}

input {
    width: 85%;
    height: 35px;
    -webkit-border-radius: 20px;
}